.featured-hotels {
    display: flex;
    flex-direction: column;
    gap: 48px;

    &__header {
        display: flex;
        flex-direction: column;
        gap: 24px;
        align-items: center;
        justify-content: center;
        color: $color-primary;

        &-tabs {
            display: flex;
            flex-direction: row;
            justify-content: center;
            width: 100%;
            border-bottom: 1px solid $color-separator;

            &-menu {
                display: flex;
                align-items: center;
                justify-content: center;
                color: $color-navi-01;
                border: none;
                background-color: $color-white;
                border-bottom: 1px solid $color-input;
                width: 100%;
                padding: 16px;
                gap: 8px;
                cursor: pointer;

                &--active {
                    color: $color-toscha-01;
                    border-bottom: 2px solid $color-toscha-01;
                    gap: 10px;
                }
            }
        }
    }

    &__container {
        display: grid;
        grid-template-columns: repeat(4, minmax(0, 1fr));
        gap: 20px;

        @include respond(screen-md) {
            grid-template-columns: repeat(2, minmax(0, 1fr));
        }

        &-category {
            display: flex;
            flex-direction: column;
            align-items: start;
            gap: 24px;

            &-img {
                width: 100%;
                border-radius: 16px;
                object-fit: cover;
            }

            &-content {
                display: flex;
                flex-direction: column;
                color: $color-primary;
                gap: 16px;

                &-title {
                    display: flex;
                    flex-direction: column;
                    gap: 12px;
                    width: 100%;
                    max-width: 285px;

                    h5 {
                        white-space: nowrap;
                        overflow: hidden;
                        text-overflow: ellipsis;
                        display: block;
                    }
                }

                &-location {
                    display: flex;
                    align-items: center;
                    gap: 8px;
                    width: 100%;
                    max-width: 285px;

                    p {
                        color: $color-subtle;
                        white-space: nowrap;
                        overflow: hidden;
                        text-overflow: ellipsis;
                        display: block;
                    }
                }

                &-price {
                    display: flex;
                    align-items: center;
                    gap: 4px;
                }
            }
        }
    }
}