@mixin respond($breakpoint) {
    @if $breakpoint == screen-xl {
        @media only screen and (max-width: 1280px) { 
            @content;
        } // 1280px
    }
    @if $breakpoint == screen-lg {
        @media only screen and (max-width: 1024px) {
            @content;
        } // 1024px
    }
    @if $breakpoint == screen-md {
        @media only screen and (max-width: 768px) {
            @content;
        } // 768px
    }
    @if $breakpoint == screen-sm {
        @media only screen and (max-width: 640px) {
            @content;
        } //640px
    }
    @if $breakpoint == screen-xs {
        @media only screen and (max-width: 480px) { 
            @content;
        } // 480px
    }
}

@mixin flexCenter {
    display: flex;
    align-items: center;
    justify-content: center;
}