// Neutral
$color-primary: #1B1B1BF5;
$color-secondary: #616161;
$color-subtle: #9e9e9e;
$color-input: #D9E0E4;
$color-separator: #EEF0F2;
$color-light: #FAFBFB;
$color-white: #FFFFFF;

// Toscha
$color-toscha-01: #1CB78D;
$color-toscha-02: #55C9A9;
$color-toscha-03: #8DDBC6;
$color-toscha-04: #C6EDE3;
$color-toscha-05: #E8F8F4;
$color-toscha-06: #F4FBF9;

// Navi
$color-navi-01: #052C47;
$color-navi-02: #446175;
$color-navi-03: #8295A3;
$color-navi-04: #C1CAD1;
$color-navi-05: #E6EAED;

$transition: all .3s ease;