.footer {
    background-color: $color-navi-01;
    
    &-wrapper {
        display: flex;
        flex-direction: column;
        padding: 96px 120px;
        width: 100%;
        gap: 72px;

        @include respond(screen-md) {
      gap: 40px 0;
    }

    @include respond(screen-xl) {
        padding: 96px 60px;
    }

    @include respond(screen-md) {
        padding: 96px 40px;
    }

    @include respond(screen-sm) {
        padding: 96px 20px;
    }
    }


    &__menus {
        width: 100%;
        display: grid;
        grid-template-columns: repeat(15, minmax(0, 1fr));
        gap: 20px;

        @include respond(screen-md) {
            row-gap: 40px;
        }

        &-list {
            grid-column: span 3;

            @include respond(screen-lg) {
                grid-column: span 5;
            }

            &:is(:last-child) {
                grid-column: span 6;

                @include respond(screen-lg) {
                    grid-column: span 15;
                    padding: 40px 0;
                }

                @include respond(screen-sm) {
                    border-top: 1px solid $color-navi-02;
                    border-bottom: 1px solid $color-navi-02;
                }

                @include respond(screen-sm) {
                    text-align: center;
                }
            }            

            & > h5 {
                margin-bottom: 24px;

                @include respond(screen-sm) {
                    margin-bottom: 16px;
                }

            }

            &-item {
                display: flex;
                flex-direction: column;
                gap: 16px;
                
                a {
                    color: $color-light;
                    text-decoration: none;
                    transition: $transition;

                    &:hover {
                        color: $color-toscha-01;
                    }
                }
            }

            &-content {
                display: flex;
                flex-direction: column;
                gap: 16px;
                color: $color-light;

                @include respond(screen-sm) {
                    text-align: center;
                }

                &-form {
                    display: flex;
                    flex-direction: row;
                    gap: 9px;

                    @include respond(screen-sm) {
                        flex-direction: column;
                    }

                    &-input {
                        width: 100%;
                        padding: 13px 16px;
                        background-color: $color-light;
                        border: 1px solid $color-input;
                        border-radius: 10px;

                        &::placeholder {
                            font-size: 1.6rem;
                            color: $color-subtle;
                        }
                    }
                }
            }
        }
    }

    &__content {
        display: flex;
        justify-content: space-between;

        @include respond(screen-sm) {
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 34px;
            order: -1;
        }

        &-logo {

            & > .copyright {
                margin-top: 16px;
                color: $color-white;
            }

            @include respond(screen-sm) {
                @include flexCenter;
                flex-direction: column;
            }

            img {
                max-width: 224px;
            }
        }

        &-sosmed {
            display: flex;
            align-items: end;
            gap: 24px;

            @include respond(screen-sm) {
                justify-content: space-between;
            }

            &-item {
                @include flexCenter;
                width: 48px;
                height: 48px;
                border-radius: 40px;
                border: none;
                background-color: $color-navi-02;
                transition: $transition;
                cursor: pointer;

                &:hover{
                    background-color: $color-navi-03;
                }
            }
        }
    }
}