.inspiration-trip {
    display: flex;
    flex-direction: column;
    gap: 48px;

    &__header {
        @include flexCenter;
        flex-direction: column;
        gap: 12px;
        text-align: center;
        color: $color-primary;

        & > :is(:last-child) {
            color: $color-secondary;
        }
    }

    &__article {
        display: grid;
        grid-template-columns: repeat(12, minmax(0, 1fr));
        gap: 20px;

        @include respond(screen-lg) {
            grid-template-columns: repeat(6, minmax(0, 1fr));
        }

         @include respond(screen-sm) {
            grid-template-columns: repeat(4, minmax(0, 1fr));
        }

        & > :is(:first-child) {
            grid-column: span 6 / span 6;

            @include respond(screen-sm) {
                grid-column: span 4 / span 4;
            }
        }

        & > :not(:first-child) {
            grid-column: span 3 / span 3;

            @include respond(screen-sm) {
                grid-column: span 4 / span 4;
            }
        }

        &-card {
            max-width: 100%;
            display: flex;
            flex-direction: column;
            gap: 24px;

            &-img {
                width: 100%;
                object-fit: cover;
                overflow: hidden;
                border-radius: 16px;

                @include respond(screen-sm) {
                    aspect-ratio: 4/3;
                    width: 100%;
                }
            }

            &-content {
                display: flex;
                flex-direction: column;
                gap: 16px;
                flex: 1;
                justify-content: space-between;

                &-text {
                    display: flex;
                    flex-direction: column;
                    color: $color-primary;
                    gap: 12px;
                    flex: 1;

                    p {
                        color: $color-subtle;
                        white-space: nowrap;
                        overflow: hidden;
                        text-overflow: ellipsis;
                        display: block;

                        @include respond(screen-sm) {
                            display: none;
                        }
                    }
                }

                a {
                    margin-top: 10px;
                }
            }
        }
    }


    &__button {
        @include flexCenter;
        gap: 6px;
    }
}