// src/styles/sass/components/_driver-checkbox.scss
.driver-age-wrapper {
    position: absolute;
    width: 100%;
    z-index: 998;
    
    // Default position untuk same-location (3 items)
    top: 497px;

    @include respond(screen-xl) {
        top: 810px;
    }

    @include respond(screen-md) {
        top: 855px;
    }

    @include respond(screen-sm) {
        top: 860px;
    }

    @include respond(screen-xs) {
        top: 900px;
    }

    &--different-location {

        @include respond(screen-xl) {
            top: 895px;
        }

        @include respond(screen-md) {
            top: 940px;
        }

        @include respond(screen-sm) {
            top: 945px;
        }

        @include respond(screen-xs) {
            top: 985px;
        }
    }
}

.driver-age-checkbox {
    display: flex;
    align-items: center;
    padding-left: 64px;
    gap: 16px;
    color: $color-primary;

     @include respond(screen-md) {
        padding-left: 34px;
    }

    &-form {
        display: flex;
        align-items: center;
        cursor: pointer;
        position: relative;

        input[type="checkbox"] {
            position: absolute;
            opacity: 0;
            cursor: pointer;
            width: 20px;
            height: 20px;

            &:checked + .driver-age-checkbox-indicator {
                background-color: $color-toscha-01;
                border-color: $color-toscha-01;

                &::after {
                    opacity: 1;
                    transform: rotate(45deg) scale(1);
                }
            }
        }
    }

    &-indicator {
        @include flexCenter;
        width: 20px;
        height: 20px;
        border-radius: 4px;
        background-color: $color-white;
        border: 1px solid $color-input;
        position: relative;
        flex-shrink: 0;
        transition: $transition;

        &:hover {
            border-color: $color-toscha-01;
        }

        &::after {
            content: '';
            position: absolute;
            left: 7.5px;
            top: 3px;
            width: 5px;
            height: 10px;
            border: solid $color-white;
            border-width: 0 2px 2px 0;
            transform: rotate(45deg) scale(0);
            opacity: 0;
            transition: $transition;
        }
    }

    &-text {
        display: flex;
        align-items: center;
        gap: 8px;

        span {
            color: $color-primary;
            white-space: nowrap;

            @include respond(screen-sm) {
                white-space: normal;
            }
        }

        img {
            width: 20px;
            height: 20px;
            flex-shrink: 0;
            cursor: pointer;
        }
    }
}