.tabs {
    @include flexCenter;
    position: absolute;
    top: 40px;
    flex-direction: row;
    background-color: $color-white;
    border-radius: 1000px;
    border: 1px solid $color-input;
    padding: 8px;
    gap: 16px;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.2);

    &-item,
    &-item * {
        text-decoration: none !important;
    }

    @include respond(screen-md) {
        gap: 0;
    }

    &-item {
        display: flex;
        padding: 12px 32px;
        gap: 12px;
        align-items: center;
        border: none;
        background-color: transparent;
        color: $color-primary;
        cursor: pointer;
        transition: all 0.3s ease;

        @include respond(screen-xs) {
            padding: 8px 16px;
        }

        &-icon {
            filter: none;
        }

        &--active {
            background-color: $color-navi-01;
            border-radius: 1000px;
            color: $color-white;

            .tabs-item-icon {
                filter: brightness(0) invert(1);
            }
        }

        &:not(&--active) {
            .tabs-item-text {
                @include respond(screen-md) {
                    display: none;
                }
            }
        }

        &:hover {
            background-color: $color-navi-01;
            color: $color-white;
            border-radius: 1000px;

            .tabs-item-icon {
                filter: brightness(0) invert(1);
            }
        }
    }
}