.plan-trip {
    display: flex;
    flex-direction: column;
    gap: 48px;

    &__header {
        display: flex;
        flex-direction: column;
        gap: 12px;
        align-items: center;
        justify-content: center;
        text-align: center;
        color: $color-primary;

        & > :is(:last-child) {
            color: $color-secondary;
        }
    }

    &__cities {
        display: grid;
        grid-template-columns: repeat(6, minmax(0, 1fr));
        gap: 20px;

        @include respond(screen-lg) {
            grid-template-columns: repeat(3, minmax(0, 1fr));
        }

        @include respond(screen-sm) {
            grid-template-columns: repeat(2, minmax(0, 1fr));
        }

        &-category {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 24px;

            &-img {
                width: 140px;
                height: 140px;
                border-radius: 170px;
            }

            &-content {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                text-align: center;
                color: $color-primary;
                gap: 8px;

                & > :is(:last-child) {
                    color: rgba(117, 117, 117, 1);
                }
            }
        }
    }
}