*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    -webkit-font-smoothing: antialiased;
    font-size: 10px;
}

body {
    font-family: "GeneralSans", sans-serif;
    font-weight: 400;
    font-size: normal;
    color: $color-white;
    font-size: 1.6rem;
}

main {
  color: $color-primary;
}